REMNAWAVE_TOKEN=token
REMNAWAVE=http://remnawave:3000
RULE_NAME=Happ
HEADER_NAME=routing
GITHUB_URL=https://raw.githubusercontent.com/hydraponique/roscomvpn-routing/refs/heads/main/HAPP/JSONSUB.DEEPLINK
CHECK_INTERVAL_SECONDS=300